<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- 引入 Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <title>dbuserinfo</title>
</head>
<body>
<div>
{#    class="container"#}
{#    <h1>dbuserinfo</h1>#}

<table>
    <thead>
    <tr>
        <th>项目名</th>
        <th>数据库对接人</th>
        <th>数据库IP</th>
        <th>数据库名</th>
        <th>数据库用户名</th>
        <th>数据库密码</th>
        <th>数据库授权IP</th>
        <th>数据库授权详情</th>
        <th>账号创建时间</th>

    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.project_name }}</td>
        <td>{{ user.user_name }}</td>
        <td>{{ user.dbhost }}</td>
        <td>{{ user.dbname }}</td>
        <td>{{ user.ser_name }}</td>
        <td>{{ user.ser_passwd }}</td>
        <td>{{ user.grant_host }}</td>
        <td>{{ user.dbprivileges }}</td>
        <td>{{ user.createtime }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>